.container {
  height: 150px;
  /* background-color: skyblue; */
}

/* .col{
    background-color: darkblue;
    color: white;
} */

/* .container-fluid{
    height: 150px;
    background-color: brown;
} */