/* width, height :  auto(default), px, em, rem, vw, vh, %*/
*{
    margin: 0;
    padding: 0;
}

.parent{
    width: 100%;
    height: 300px;
    border: 1px solid red;
}
.child{
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    height: 200px;
    background-color: orange;
}