/* CSS 상속
C: cascading

글자 관련 속성들이 주로 상속됨 
- color, font-* , text-align, text-decoration, visibility ... 


우선순위 (작성 순서)
*/

.ecosystem {
  color: red;
}
.animal {
  color: darkblue;
}

#text{
    color: brown;
}
.area p {
    color: coral;
}
p {
    color: aquamarine;
}

