body{
    margin: 0;
    padding: 0;
}

ul > li {
  display: inline-block;
  margin-right: 2em;
  border-bottom: 2px dashed darkorange;

}

p {
  /* margin: 8px; */
  /* margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px; */
  padding: 10px;
  margin: 8px 16px;
  display: inline-block;
}

