table {
  border: 2px solid gray;
  border-collapse: collapse;
    /* border-spacing: 4px; */
    caption-side: top;
    /* 만일 자유자재로 움직이게 하고 싶으면 금요일에 배웠던 position 이용 */
}

th,
td {
  border: 2px solid lightgray;
}
