*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    border: a2px double darkcyan;
    width: 500px;
}

.container div{
    /* width: 100px; */
    height: 100px;
    border: 2px dashed black;
    flex-basis: 200px; 
    /* no width, flex-basis auto  -> same with the size of contents */
}

.container div:first-child{
    background-color: beige;
    order: 1;
    /* flex-grow: 1; */
    flex-shrink: 1;
}

.container div:nth-child(2){
    background-color: violet;
    order: 2;
    flex-shrink: 2;
}
.container div:nth-child(3){
    background-color: indianred;
    /* flex-grow: 2; */
    flex-shrink: 3;
}
.container div:nth-child(4){
    background-color: darkcyan ;
}
.container div:nth-child(5){
    background-color: turquoise;
    /* flex-grow: 1; */
}

.container div:last-child{
    background-color: indigo;
    order: -1;
}