.container {
  padding: 0.8em;
  background-color: lightgray;
  display: grid;
  /* grid-template-columns: 30% 70%; */
  /* grid-template-columns: 3fr 7fr; */
  /* grid-template-columns: 100px 1fr 2fr; */
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 1fr 2fr 3fr; */
  grid-auto-rows: 160px;
  gap: 1em;
  /* justify-items: start; */
  /* align-items: end; */
}

.container > div {
  padding: 1em;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: slateblue;
}

.container > div > span {
  display: none;
}

.container > div:first-child {
  /* grid-column: 2; */
  grid-column: auto;
  /* grid-column: 2 / -2; */
  grid-row: 1 / 5;
}
.container > div:nth-child(2) {
  grid-column: 3 / -1;
  grid-row: 1 / 2;
}
.container > div:nth-child(3) {
  justify-self: stretch;
  align-self: center;
}
