body{
    padding-top: 100px;
}

.container{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    background-color: yellow;
    position: relative;
}

.box{
    /* width: 100px; */
    height: 100px;
    position:absolute;
}
.a{
    background-color: red;
    right: 500px;
    top: 100px;
}
.b{
    background-color: green;
    right: 200px;
    top: 100px;
}
.c{
    background-color: blue;
    left: 100%; /*500px;*/
    bottom: 100px;
}