/* 전체 페이지 여백 0 / 컨텐츠 크기 boder. 포함 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body 배경색 rgb(9, 100, 160) */
body {
  background-color: rgb(9, 100, 160);
}

/* container -> width: 320px, margin: up/down 50px, center align */
#container {
  width: 320px;
  margin: 50px auto;
  /* text-align: center; */
  /* 왜 text-align : center로 하면 사진이 왼쪽에서 떨어지는 걸까? */
}

/* card: width 300px,, height 500px, margin up/down 20px, right/left 10px, border 1px solid, background-color : white */
.card {
  width: 300px;
  height: 500px;
  margin: 20px 10px;
  border: 1px solid olivedrab;
  background-color: white;
  position: relative;
}

/* words : padding 10, center align
    top 300, left 100
*/
.words {
  padding: 10px;
  text-align: center;
  position: absolute;
  left: 100px;
  top: 300px;
}

@media screen and (min-width: 1720px) {
  #container {
    width: 1710px;
    display: flex;
  }
  .card {
    width: 550px;
    height: 250px;
    margin: 10px;
  }
  .words {
    top: 50px;
    left: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1719px) {
  #container {
    width: 570px;
  }
  .card {
    width: 550px;
    height: 250px;
    margin: 10px;
  }
  .words {
    top: 50px;
    left: 300px;
  }
}
