div{
    width: 464px;
    height: 328px;
    border: 1px solid orange;
    background-image: url(../images/orange-tile.png);
    /* background-image: url(../images/bg3.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */

}

body{
    background-image: url(../images/orange-tile.png);
    background-repeat: no-repeat;
    background-attachment: local;
}