/* 1. Select every elements : *   */
* {
    font-weight: bold;
    color: darkorange;
}

/* 2. Tag selector */
p {
    color: olivedrab;
}


/* 3. Calss selector */
/* .blue{
color: lightblue;
} */

p.blue{
    color: lightblue;
}

.blue.dark{
    /* separatelty call blue and black */
    color: mediumblue;
}

.blue.dark{
    /* separatelty call blue and black */
    color: darkblue;
}

/* 4. id selector */
#red {
    color: tomato;
}