/* 10. 가상 요소 선택자 */

h1::before{
  content: "test ";
  color: red;
  /* text 'before' cannot be dragged in the server. */
}

h1::after{
  content: "가상 요소 ";
  color: blue;
  /* text '가상 요소' cannot be dragged in the server. */
}

/* 11. 구조 선택자 */

ol li:first-of-type{
  color: red;
}
ol li:last-of-type{
  color: blue;
}
ol li:nth-of-type(3){
  color: blue;
}